

$Dark-green: #379237;
$Light-green: #7ed56f;
$Medium-green: #55c57a;
$color-gray-dark:#777;
$color-gray-dark-1:#f7f7f7;
$color-light-blue:#91D8E4;
$color-dark-blue:#0081B4;
$color-light-yw:#FBC252;
$color-dark-yw:#FFB100;


$color-white:#fff;
$color-black:#000;
$grid-width:71.25rem;
$gutter-horizontal:3.75rem;
$gutter-vertical:5rem;
