.navigation{
    position: relative;
    &-checkbox{display: none;}
    &-checkbox:checked ~ &-list{
        display: block;
    }  &-checkbox:checked ~ &-background{
        transform: scale(40);
    } &-checkbox:checked ~ &-button span{
      background-color: transparent;
    }&-checkbox:checked ~ &-button span::before{
        top:0;
        transform: rotate(135deg);
    }&-checkbox:checked ~ &-button span::after{
        top:0;
        transform: rotate(-135deg);
    }
    &-button{
        cursor: pointer;
        &:hover span::after{
    
            transform: translateY(-3px);
                  } &:hover span::before{
                    transform: translateY(3px);
                          }
        span{
            transition: all .3s;
            display: inline-block;
            position: absolute;
            top: 2.6rem;
            left: 2.48rem;
            transform: translate(-50%,-50%);
            height: 3px;
            width:3rem;
            background-color: black;
            &::after,&::before{
            transition: all .3s;
                content: "";
                display: inline-block;
                position: absolute;
                height: 3px;
                width:3rem;
                background-color: black;
            }
            &::before{
top: -1rem;
            }
            &::after{
                top:1rem
            }
        }
        position: fixed;
        top:5rem;
     right:6rem;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        z-index: 15;
        background-color: white;
    }
    &-background{
        position: fixed;
        top:5.5rem;
     right:6.5rem;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        z-index: 10;
        transition: .3s;
        background-image: radial-gradient(rgba($Light-green,1),rgba($Dark-green,1));
    }
  
    &-list{
        height: 100vh;
        position:fixed;
        top:35%;
        right: 50%;
z-index: 20;
list-style-type: none;
color: white; display: none;
transition: all .9s;
    }
    &-item{
        width: 160%;
        text-align: center;
        color: white;
        background-image: linear-gradient(105deg,transparent 0%,transparent 50%,white 50%);
        &:not(:last-child){
            margin-bottom: 1.1rem;
        }
      
background-size: 209%;
padding-right: 1.1rem;
font-size: larger;
font-weight: 500;
text-transform: uppercase;
transition: all .3s;
&:hover{
    color: rgba($Light-green,1);
    background-position: 99%;
}
span{
    margin: 0 0.7rem;
}
    }
}