.aling-center{text-align: center;}.aling-left{text-align: left;}
.pb-y-3{padding-bottom:3.9rem ;
}
.pb-y-small{padding-bottom: 2.5rem;}.pb-y-xsmail{padding-bottom: 10rem;};
.mb-form{margin-bottom: 1.2rem;}
.mb-top{
    margin-top: 1.7rem;
}
