

.header{
    background-color:$color-gray-dark-1;
    position: relative;
    height: 85vh;
    color: $color-white;
    background-image: linear-gradient(to right bottom ,rgba($Dark-green,.8),rgba($Light-green,.6)),
    url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75vh,0% 100%);


    &-primary-sub{
        display: block;
        font-size: 1.4rem;
        font-weight: 600;
        letter-spacing: 15px;
         animation: fromRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        margin-bottom: 30px;
    };
    &-primary-main{
        display: block;
        font-size: 4rem;
        font-weight: 400;
        letter-spacing: 35px;
        animation: fromLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    
    
    }
}

.logo-box{
    position: absolute;
top: 40px;
left: 40px;
}
.logo{
    height: 35px;
}
.text-box{
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%,-50%);
}